<h1>About</h1>
<p>
  A sample Ruby on Rails application built to teach the basics of building Rails applications, RESTful methods,
  and Test Driven Development.
</p>
<p>
  Built on the lessons provided by the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>.
</p>

<!-- The creation of this page should be the final step in writing code that will pass the test written at 'test/static_pages_controller_test' -->
