<h1>Help</h1>

<p>
  Lost? Check the README at
  <a href="https://github.com/ixeres/Sample-App/blob/master/README.md">this GitHub page</a>.
  Still lost? Read your comments!
</p>

<p> ... You HAVE been commenting your code, right?</p>
